*{
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #330000;

}

.datotiempo {
  color: #fff;
  background-color: #330000;
  font-family: 'Libre Bodoni', serif;
  width: 340px;
  padding: 20px 35px;
  border: 3px solid #990000;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,	rgb(255, 204, 204, 0.3));
  transition: 0.5s;
  transition-property: background, box-shadow;
 
}

.datotiempo:hover{
  background: #990000;
  box-shadow: 0 0 30px #330000;
}

.dato {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
  letter-spacing: 3px;
}

.tiempo {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiempo span:not(:last-child) {
position: relative;
margin: 0 6px;
font-weight: 600;
text-align: center;
letter-spacing: 3px;
}

.tiempo span:last-child {
background-color: #990000;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
margin-top: 10px;
padding: 0 5px;
border-radius: 3px;

}